#!/bin/sh

# install chezmoi automcomplete into $HOME/.bash/completion-scripts

chezmoi completion bash > $HOME/.bash/completion-scripts/chezmoi.bash-completion

{{ if not (lookPath "pyenv") }}
  curl https://pyenv.run | bash
{{ end }}

{{ if not (lookPath "pipx") }}
  sudo apt install -y pipx
{{ end }}

{{ if not (lookPath "poetry") }}
  pipx install poetry
  poetry completions bash >> $HOME/.bash/completion-scripts/poetry.bash-completion
{{ end }}

# TODO: install Atlas CLI (or put it into installer scipts)
