#!/bin/sh

sudo apt update -y

# if we don't have GCC we are most probably on a new system
{{ if not (lookPath "gcc") }}
sudo apt install -y make build-essential libssl-dev zlib1g-dev \
  libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm \
  libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev \
  git emacs python3 bash-completion python3-argcomplete
{{ end }}

{{ $packages := list
     "bat"
     "curl"
     "exa"
     "fzf"
     "git-lfs"
     "jq"
     "ripgrep"
     "zoxide"
-}}

# Temporary while we migrate from yadm to chezmoi
{{ if not (lookPath "yadm") }}
  sudo apt install -y yadm
{{ end }}

# {{ if not (stat (joinPath .chezmoi.homeDir ".config/yadm")) }}
#   yadm clone
# {{ else }}
#   echo ".config/yadm exists"
# {{ end }}

# {{ if not (stat (joinPath .chezmoi.homeDir "bin")) }}
#   mkdir {{ joinPath .chezmoi.homeDir "bin" }}
# {{ end }}

sudo apt-get install -y {{ $packages | join " " }}
